<div class="container">
  <div class="card shadow mb-4">
      <div class="card-body">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>id de patient</th>
                      <th>Nom de patient</th>
                      <th>Prenom de patient</th>
                      <th>Adresse de patient</th>
                      <th>Date de Rendez-vous</th> 
                     <th>Genres médicaux</th>
                      <th>Actions</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let patient of patients">
                      <td>{{patient.idPatient}}</td>
                      <td>{{patient.nomPatient}}</td>
                      <td>{{patient.prenomPatient}}</td>
                      <td>{{patient.adresse}}</td>
                      <td>{{patient.dateRendezvous | date:'dd/MM/yyyy'}}</td>
                   <td>{{patient.genre?.nomGenre}}</td>
                      <td>
                          <a *ngIf="AuthService.isAdmin()" class="btn btn-danger" (click)="supprimerPatient(patient)">Supprimer</a></td>
                         <td><a *ngIf="AuthService.isAdmin()" class="btn btn-success" [routerLink]="['/updatePatient', patient.idPatient]">Modifier</a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
