<div class="container">
    <div>
        <h2>Ajouter un Patient:</h2>
    </div>
    <form >
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputnom">Nom de patient:</label>
                <input type="text" class="form-control" id="inputnom" placeholder="Nom du patient"
  [(ngModel)]="newPatient.nomPatient" name="nomPatient" required />

            </div>
           
            <div class="form-group col-md-6">
                <label for="inputPrenom">Prénom de patient:</label>
                <input type="text" class="form-control" id="inputPrenom" placeholder="prénom du patient" name="prenomPatient" [(ngModel)]="newPatient.prenomPatient" >
            </div>
            
        </div>
        <div hidden class="form-group">
            <label for="inputid">id de patient:</label>
            <input type="text" class="form-control" id="inputid" name="idPatient" placeholder="veuillez entrer l'id du patient" [(ngModel)]="newPatient.idPatient">
        </div>
        <div class="form-group">
            <label for="inputAddress">Adresse:</label>
            <input type="text" class="form-control" id="inputAddress"  name="adresse" placeholder="veuillez entrer l'adresse" [(ngModel)]="newPatient.adresse" >
        </div>
        <div class="form-row">
          <!-- <div class="form-group col-md-4">
                <label for="inputCity">Ville:</label>
                <input type="text" class="form-control" id="inputCity" >
            </div>-->

            <div class="form-group col-md-6">
                <label for="datederdv">Date de Rendez-vous:</label>
                <input type="date" class="form-control" id="datederdv" name="dateRendezvous" [(ngModel)]="newPatient.dateRendezvous">
            </div>
        </div>
        <br>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Genres Medicaux:</label>
            <select class="form-control form-control-lg" id="idgenre" name="idGenre" [(ngModel)]="newid_genres_medicaux">
                <option *ngFor="let genre of genres_medicaux" [value]="genre.idGenre">
                    {{genre.nomGenre}}
                </option>
            </select>
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary" (click)="addPatient()">Ajouter</button>
        </div>
    </form>
</div>

