<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-white" href="#">Gestion des Patients</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/patient" >Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Patients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/add-patient">Ajouter un patient </a>
          <a class="dropdown-item" href="#">Lister les Patients</a>
          <a class="dropdown-item" routerLink="/rechercheParGenreMedicaux" >Recherche Par
            Genre Medicaux</a>
            <a class="dropdown-item" routerLink="/rechercheParNom" >Recherche Par Nom</a>
        </div>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 text-white" type="submit">Search</button>
    </form>
  </div>
</nav>
</body>
</html>
<router-outlet></router-outlet>